* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wave";
  background-color: ghostwhite;
}

@font-face {
  font-family: "Wave";
  font-style: normal;
  font-weight: 700;
  src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/LTWave-Regular.ttf");
}

@font-face {
  font-family: "Wave-Bold";
  font-style: bold;
  font-weight: bold;
  src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/LTWave-Bold.ttf");
}

p {
  font-size: medium;
}

h1 {
  text-align: center;
  margin: 30px;
  font-size: 35px;
}
